# Public template - copy to .env and fill in
export MON_SERVER_IP="0.0.0.0"
export MON_SSH_USER="your_user"
export MON_SSH_KEY="~/.ssh/id_ed25519"
export MON_SUDO_PASS="your_password"

# Grafana environment variables
export GRAFANA_ADMIN_PASSWORD="your grafana password"

# List of monitored websites for Blackbox exporter
export MONITORED_SITES="https://my-secret-site.com,https://another-project.ua"
