[defaults]
# Default inventory path
inventory = ./inventories/production/hosts.yml
# Disable SSH key host checking (convenient for home labs)
host_key_checking = False
retry_files_enabled = False
# Search path for roles
roles_path = ./roles
# Automatic Python interpreter discovery
interpreter_python = auto_silent

[ssh_connection]
# Enable SSH pipelining to speed up execution
pipelining = True
