# roles/monitoring/templates/docker-compose.yml.j2

services:
  victoriametrics:
    image: victoriametrics/victoria-metrics:{{ victoriametrics_version }}
    container_name: victoriametrics
    ports:
      - "{{ victoriametrics_port }}:8428"
    volumes:
      - vmdata:/storage
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--storageDataPath=/storage"
      - "--retentionPeriod=1y"
      - "--promscrape.config=/etc/prometheus/prometheus.yml" # Start scraping!
    restart: always

  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    ports:
      - "9115:9115"
    restart: always

  # Правила та перевірка алертів
  vmalert:
    container_name: vmalert
    image: victoriametrics/vmalert:v1.101.0
    depends_on:
      - victoriametrics
    ports:
      - "8880:8880"
    volumes:
      - ./vmalert/rules.yml:/etc/alerts/rules.yml
    command:
      - "-datasource.url=http://victoriametrics:8428"
      - "-notifier.url=http://alertmanager:9093"
      - "-rule=/etc/alerts/rules.yml"
    restart: always

  # Обробка та маршрутизація алертів
  alertmanager:
    container_name: alertmanager
    image: prom/alertmanager:v0.27.0
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
    restart: always

  grafana:
    image: grafana/grafana:{{ grafana_version }}
    container_name: grafana
    ports:
      - "{{ grafana_port }}:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    volumes:
      - grafanadata:/var/lib/grafana
      - ./grafana/provisioning/dashboards/dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml:ro
      - ./grafana/provisioning/datasources/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - victoriametrics
    restart: always

volumes:
  vmdata:
  grafanadata:
